<% projet = dato.projets[index] %>

    <div id="main" role="main" class="text-center">
      <div class="background-image-projet" style="background-image: url('<%= image_path(projet.photo_du_projet.url)%>'); background-size: cover; height: 60vh; width: 100%; background-position: center;">
      </div>
        <div class="">
          <h2><%= projet.titre_du_projet %></h2>
        </div>
      <p><%= projet.description %></p>

    </div>
    <br>
  <hr>
  <br>
