<% projet = dato.projets[index] %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Free Cube - <%= projet.titre_du_projet %></title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="../../images/fav-icon/icon.png">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <!-- Main style sheet -->
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <!-- responsive style sheet -->
    <link rel="stylesheet" type="text/css" href="../../css/responsive.css">


    <!-- Fix Internet Explorer ______________________________________-->

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="vendor/html5shiv.js"></script>
      <script src="vendor/respond.js"></script>
    <![endif]-->
      
  </head>

  <body>
    <div class="main-page-wrapper">



      <!-- 
      =============================================
        Theme Header
      ============================================== 
      -->
      <header class="theme-main-header">
        <div class="container">
          <a href="../../index.html" class="logo float-left tran4s"><img src="<% dato.infos[0].logo.url %>" alt="Logo" style="height: 50px; margin-bottom: 10px;"></a>
          
          <!-- ========================= Theme Feature Page Menu ======================= -->
          <nav class="navbar float-right theme-main-menu one-page-menu">
             <!-- Brand and toggle get grouped for better mobile display -->
             <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                 <span class="sr-only">Toggle navigation</span>
                 Menu
                 <i class="fa fa-bars" aria-hidden="true"></i>
               </button>
             </div>
             <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse" id="navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li class=""><a href="../../index.html#home">HOME</a></li>
              <li><a href="../../index.html#about-us">A PROPOS</a></li>
              <li><a href="../../index.html#service-section">SERVICES</a></li>
              <li><a href="../../index.html#project-section">PROJETS</a></li>
              <li><a href="../../index.html#team-section">EQUIPE</a></li>
              <li><a href="../../index.html#our-client"> CLIENTS</a></li>
              <li><a href="../../index.html#contact-section">CONTACT</a></li>
               </ul>
             </div><!-- /.navbar-collapse -->
          </nav> <!-- /.theme-feature-menu -->
        </div>
      </header> <!-- /.theme-main-header -->


    <div id="main" role="main" class="text-center">
      <div class="background-image-projet" style="background-image: url('<%= image_path(projet.photo_du_projet.url)%>'); background-size: cover; height: 60vh; width: 100%, background-position: center;">
      </div>
        <div class="">
          <h2><%= projet.titre_du_projet %></h2>
        </div>
      <p><%= projet.description %></p>

    </div>
    <br>
  <hr>
  <br>

          <!--
      =====================================================
        Footer
      =====================================================
      -->
      <footer>
        <div class="container">
          <a href="index.html" class="logo"><img src="
            <% dato.infos[0].logo.url %>" alt="Logo" style= "height: 50px;"></a>

          <ul>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
          </ul>
<!--          <p>Copyright @2018 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p> -->
        </div>
      </footer>

      <!-- =============================================
        Loading Transition
      ============================================== -->
      <div id="loader-wrapper">
        <div id="preloader_1">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
      </div>

      
          <!-- Scroll Top Button -->
      <button class="scroll-top tran3s p-color-bg">
        <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
      </button>
    <script type="text/javascript" src="../../vendor/jquery.2.2.3.min.js"></script>

    <script type="text/javascript" src="../../vendor/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="../../js/theme.js"></script>

  </body>
</html>
