
          <!--
      =====================================================
        Footer
      =====================================================
      -->
      <footer>
        <div class="container">
          <a href="index.html" class="logo"><img src="
            <%= dato.info.logo.url %>" alt="Logo" style= "height: 50px;"></a>

          <ul>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#" class="tran3s round-border"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="" class="tran3s round-border"><i class="fa fa-phone" aria-hidden="true"></i></a> </li>
            <li><p><%= dato.info.telephone %></p></li>
            <li><a href="" class="tran3s round-border"><i class="fa fa-envelope-o" aria-hidden="true"> </i></a> </li>
            <li><p><%= dato.info.email %></p></li>
          </ul>
        </div>
      </footer>