      <!--
      =============================================
        Theme Header
      ==============================================
      -->
      <header class="theme-main-headers fixed-top">
        <div class="container flex-center">
          <a href="../../index.html" class="logo float-left tran4s"><img src="<%= dato.info.logo.url %>" alt="Logo" class="logo"></a>
        </div>
      </header> <!-- /.theme-main-header -->
