.background-image-projet {
  background-size: cover;
  height: 40vh;
  width: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  .center-show {
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    margin: 10px;
  }

  margin-bottom: 40px;
}

.text-left {
  text-align: left;
}

.left-container {
  padding-left: 0px !important;
}

.col-xs-9 {
  width: 90% !important;
}

@media (min-width: 992px) {
  .left-container {
    padding-left: 40px !important;
  }

  .col-xs-9 {
    width: 75% !important;
  }
}
.box-service {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px #ccc;
  margin-bottom: 10px;
  &:hover{
    background: rgb(90,94,107);
    color: white;
    h3, h6 {
      color: white;
    }
  }
  a {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 0.5 solid black;
    text-align: center;
  }
}
#main-show-banner{
  margin-bottom: 100px;
}
