---
pageable: true
per_page: 10
title: Home Page
---

<% dato.projets.each_with_index do |p,i| %>
  <%= image_tag(p.photo_du_projet.url) %>
  <a  href="projets/<%= i %>.html" ><%= p.titre_du_projet %></a>
  <%= p.description %>

<% end %>
