<div class="content-thank-you-wrapper">
  <div class="content-thank-you">
    <div class="wrapper-1">
      <div class="wrapper-2">
        <h1>Merci !</h1>
        <p>Merci pour votre email.  </p>
        <p>Nous vous contacterons bientot  </p>
        <a href="/index.html">
        <button class="go-home">
        Retour à la page d'acceuil
        </button>
        </a>
      </div>
  </div>
  </div>
</div>



<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
